body{
    padding-top: 120px;
}

.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.profile-picture img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.profile-picture{
    padding-bottom: 10px;
}

.welcome-message {
  font-size: 24px;
  text-align:center;
  margin: 0 auto;
}

.profile-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.profile-left,
.profile-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px; /* Equal width ensures alignment */
}

.logout-section{
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

label{
    font-weight:bold;
    display:block;
    margin-bottom: 2px;
}

p{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
}

select{
    font-size: 16px;
    padding: 5px;
}

input[type="text"],
select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.title {
    text-align: center;
}