body{
    padding-top: 120px;
}

.profile-container {
  margin: 0 auto;
  display: flex;
}

.profile-picture img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid black;
    display: block;
    margin: 0 auto;
}

.profile-picture{
    padding-bottom: 40px;
}

.welcome-message {
  font-size: 24px;
  text-align:center;
  margin: 0 auto;
}

.profile-info{
    justify-content: center;
    padding: 40px;
    text-align: left;
    background-color: white !important;
    border-radius: 20px;
}

.btn{
    background-color: #0C2340 !important;
    color: aliceblue !important;
    margin: 20px;
    width: 200px;
}

.edit-section{
    margin-top: auto;
    width: 100%;
    float: left;
    padding-top: 50px;
}

.logout-section{
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

label{
    font-weight:bold;
    display:block;
    margin-bottom: 2px;
}

p{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
}

select{
    font-size: 16px;
    padding: 5px;
}

input[type="text"],
select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}